.about-submenu {
  width: 20rem;
  position: absolute;
  top: 6.3rem;
  list-style: none;
  text-align: start;
  margin-left: -11.8rem;
  z-index: 999;
}

.about-submenu li {
  background-color: white;
  cursor: pointer;
}

.about-submenu li:hover {
  background-color: white;
}

.about-submenu.clicked {
  display: none;
}

.dropdown-link11 {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #354c84;
  padding: 16px;
}
