.navbar {
  background: white;
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  height: 6.5rem;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  position: fixed;
  z-index: 999;
}

.navbar .logo {
  width: 13rem; /* Adjust the width as needed */
  height: 6.9rem; /* Adjust the height as needed */
  justify-self: start;
  cursor: pointer;
  position: relative;
  top: -16%;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 0px 10px;
  list-style: none;
  text-align: center;
  width: 75vw;
  justify-content: end;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-links {
  color: #354c84;
  text-decoration: none;
  padding: 2rem 1rem;
}

.nav-links:hover {
  background-color: #354c84;
  background-color: rgba(
    0,
    0,
    0,
    0
  ); /* Transparent black with an alpha (opacity) value of 0.5 */
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: underline;
}

.fa-bars {
  color: black;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 850px) {
  .navbar {
    width: 100vw;
  }

  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 204;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    border-radius: 0;
  }

  .navbar .logo {
    position: absolute;
    height: 7.1rem;
    width: 14rem;
    top: 0;
    left: 0;
    transform: translate(0%, -8%);
    z-index: 999;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: black;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #354c84;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #354c84;
    transition: 250ms;
  }

  button {
    display: none;
  }
}
